nav{
    background: #00BF63;
    font-size: 2rem;
}

.category{
    width: 100%;
    text-align: center;
    padding-block: 10px;
    font-size: 1.4rem;
    font-weight: 500;
}

.button{
    margin-top: 50px;
    width: 100%;
    display: flex;
    justify-content: center;
}

.add-button{
    color: #fff;
    border-radius: 999px;
    background: #000;
    border: 0px;
    padding-inline: 20px;
    padding-block: 5px;
    box-shadow: -1px 1px 5px 1px #b4b4b4;
    transition: all 0.3s ease-in-out;
    font-weight: 500;
}

.add-button:hover{
    scale: 1.02;
}



/* Container styles */
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 4 columns */
    gap: 20px; /* Adds spacing between columns */
}

/* Product styles */
.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #fff;
    cursor: pointer;
}


/* Product image */
.product img {
    width: 100%; /* Full width */
    height: auto;
    border-radius: 8px;
    object-fit: cover; /* Ensures the image fits within the container */
    margin-bottom: 10px;
}

/* Product name */
.text-pretty {
    font-size: 1.1rem;
    font-weight: 600;
    color: #333;
    text-align: center;
    margin-top: 5px;
}

/* Truncate text if it's too long */
.truncate {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}
